body { margin:0; padding:0; }
span,label { display: block;}
aside, header, main, footer, nav, section {
    margin:0; padding:0; display: block;
}
button { cursor: pointer; }
* { box-sizing: border-box; }
ol, ul, dl { list-style: none; margin:0; padding:0; }
img { width:100%; }
a:link, a:visited, a:hover, a:focus, a:active {
    color:black; text-decoration: none;
}
.clear { clear: both;}

/* 엔진 CSS, 폰트 face관련 정보를 담아둠 */