@charset "UTF-8";
/* 서브페이지 기본 셋팅 부분 */
/* 폰트 */
/* 영어&한글 font-family: 'Noto Sans KR', sans-serif; (font-weight 100,300,400,500,700,900) */
/* 한글 font-family: 'Nanum Pen Script', cursive; (400) */
/* 영어 font-family: 'Big Shoulders Stencil Display', cursive; (100,300,400,500,600,700,800,900) */
/* 한글 font-family: 'Nanum Gothic', sans-serif; */
/* 영어 font-family: 'Open Sans', sans-serif; */
@mixin font($family,$fweight,$fsize,$fcolor) {
    //(font-weight 100,300,400,500,700,900)
    $fontfamily:"";
    @if($family=="noto"){
        $fontfamily: 'Noto Sans KR', sans-serif;
    }
    @else if($family=="pen"){
        $fontfamily: 'Nanum Pen Script', cursive;
    }
    @else if($family=="big"){
        $fontfamily: 'Big Shoulders Stencil Display', cursive;
    }
    @else if($family=="gothic"){
        $fontfamily: 'Nanum Gothic', sans-serif;
    }
    @else if($family=="open"){
        $fontfamily: 'Open Sans', sans-serif;
    }
    font-family: $fontfamily; 
    font-weight: $fweight;
    font-size: $fsize+px; 
    color: $fcolor;
}
@mixin subpage {
    height: auto;
    @include font("noto",400,14,rgb(51,51,51));
}
@mixin flex($flexpart,$just,$direct,$items,$wrap,$content) {
    display: flex; 
    justify-content: $just;
    flex-direction: $direct;
    align-items: $items;
    @if($flexpart==1){
        flex-wrap: $wrap;
        align-content: $content;
    }
}
@mixin sizes($div_width,$div_height,$div_margin,$div_padding,$div_border) {
    width: $div_width; height: $div_height;
    @if($div_margin=="auto"){
        margin: 0 auto;
    }
    @else{
        margin: $div_margin;
    }
    padding: $div_padding; border: $div_border;
}
@mixin position($ps) {
    @if($ps=="ab"){
        position: absolute;
    }
    @else if($ps=="re"){
        position: relative;
    }
    @else if($ps=="fi"){
        position: fixed;
    }
}
@mixin bg($ap,$bgcolor,$bgurl) {
    @if($ap==0){
        background-color: rgba($bgcolor);
    }
    @else if($ap==1){
        background-color: $bgcolor;
    }
    @else if($ap==2){
        background-image: url($bgurl);
        background-repeat: no-repeat;
    }
}

.section_subpage{
    @include subpage; margin-top: 10px; padding-bottom: 150px;
}
.qa_box{
    @include sizes(1000px,auto,auto,0,"");
}
.qa_top{
    @include sizes(1000px,auto,auto,0,"");
    &>.qa_title{
        @include sizes(100px,30px,auto,0,"");
        @include font("noto",600,18,black);
        letter-spacing: 1px; line-height: 30px; text-align: center;
    }
    &>.qa_btn{
        @include sizes(100px,30px,0,0,"");
        @include font("open","",12,white);
        @include bg(1,rgb(116, 115, 115),"");
        @include position("re");
        line-height: 30px; left: 900px;
        text-align: center; cursor: pointer; top: 10px;
    }
}
.qa_middle{
    @include sizes(100%,auto,0,0,""); margin-top: 30px;
}
.qa_search{
    @include sizes(100%,60px,0,0,1px solid #ccc);
    @include flex(1,"",row,center,nowrap,center);
    &>li{
        height: 30px; line-height: 30px; text-align: center;
        @include font("noto",300,13,black);
        &>input{ 
            width: 100%; height: 30px; cursor: pointer; vertical-align: 5px;
            border-radius: 3px; text-indent: 5px; border: 1px solid #ccc;
            @include bg(2,"","../images/icon-cal.png");
            background-position: 95% 5px;
        }
    }
    &>li:nth-of-type(1){ padding-left: 20px; width: 80px; font-weight: 500;}
    @for $li_list from 2 to 8{
        &>li:nth-of-type(#{$li_list}){
            width: 60px; height: 30px; border: 1px solid #ccc; cursor: pointer;
        }
    }
    &>li:nth-of-type(8){
        width: 120px; margin-left: 20px; padding-right: 5px; cursor: pointer;
    }
    &>li:nth-of-type(10){
        width: 120px; padding-left: 5px; cursor: pointer; 
    }
    &>li:nth-of-type(11){
        width: 120px; padding-left: 20px;
        &>.qa_contact{
            width: 100%; height: 30px; cursor: pointer; text-indent: -15px;
            vertical-align: 5px; color: white; border: 0; letter-spacing: 1px;
            @include bg(2,"","../images/icon-search.png");
            background-position: 75% 9px;
            background-color: rgb(43, 42, 42);
        }
    }
}
input[type=text]::-ms-clear{ //input에 x표시 삭제 하는 기능
    display: none; width: 0; height: 0;
}
.lion{
    background-color: rgb(116, 115, 115); color: white !important;
}
.qa_bottom{
    @include sizes(100%,auto,0,0,""); margin-top: 30px; border-top: 1px solid black;
}
.qa_board{
    @include sizes(100%,auto,0,0,"");
    @include flex(1,"",row,center,nowrap,center);
    border-bottom: 1px solid #ccc;
    &>li{ 
        width: 100px; height: 40px;
        line-height: 40px; text-align: center;
        @include font("noto",500,13,black);
    }
    &>li:nth-of-type(3){
        width: 600px; 
    }
}
.qa_list{
    @include sizes(100%,auto,0,0,"");
    @include flex(1,"",row,center,nowrap,center);
    border-bottom: 1px solid #ccc;
    &>li{
        width: 100px; height: 40px; line-height: 40px; text-align: center;
        @include font("noto",300,13,black);
    }
    &>li:nth-of-type(3){
        width: 600px; text-align: unset; text-indent: 30px; cursor: pointer;
        &>img{ margin-right: 8px; margin-bottom: -0.5px; }
    }
}
.pagenum{
    @include sizes(100%,30px,auto,0,"");
    text-align: center; margin-top: 30px;
    &>li{
        @include sizes(30px,30px,0,0,1px solid black); 
        @include font("noto",300,13,#000);
        display: inline-block; line-height: 30px; cursor: pointer;
    }
    &>li:first-child{
        @include bg(1,rgb(43, 42, 42),"");
        @include font("noto",300,13,#fff);
    }
}

/* Q&A 글쓰기 파트 */
.write_outline{
    @include sizes(1000px,auto,auto,0,"");
    &>label{ 
        @include font("noto",500,17,#333);
        padding:10px 0 10px 0;
    }
}
.write_content{
    @include sizes(1000px,auto,0,0,"");
    border-top: 2px solid #aaa;
}
.write_content > li{
    @include sizes(100%,auto,0,0,"");
    @include flex(1,center,row,center,nowrap,center);
    border-bottom: 1px solid #ccc;
    &>span{
        @include sizes(150px,50px,0,0,"");
        @include flex(0,flex-start,row,center,"","");
        @include bg(1,#eee,"");
        @include font("noto",400,13,#333);
        padding-left: 20px; letter-spacing: 0.5px;
    }
    &>label{
        @include sizes(850px,50px,0,0,"");
        @include flex(0,flex-start,row,center,"","");
        @include font("open",400,13,#333);
        padding-left: 20px;
    }
}
.write_content>li:nth-of-type(6){
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    &>span{
        @include sizes(150px,50px,0,0,"");
        padding-left: 20px;
        @include flex(0,flex-start,row,center,"","");
    }
    &>span::before{
        content: unset;
    }
    &>label{
        @include sizes(850px,50px,0,0,"");
        @include flex(0,flex-start,row,center,"","");
        @include font("open",400,13,#333);
        padding-left: 20px;
    }
}
.write_content > li:nth-of-type(7){
    &>span:nth-of-type(1){
        @include sizes(150px,350px,0,0,"");
        padding-left: 20px;
    }
    &>div:nth-of-type(1){
        @include sizes(850px,350px,0,0,"");
        @include flex(0,center,column,"","","");
        @include font("open",400,13,#333);
        padding-left: 15px;
        &>span:first-child{
            @include sizes(200px,30px,0,0,""); 
            &>label{
                display: inline-block; vertical-align: 2px; margin-left: 3px; cursor: pointer;
            }
        }
        &>span:last-child{
            @include sizes(600px,300px,0,0,"");
            margin-left: 5px;
        }
    }
}
.write_content > li:nth-of-type(8){
    &>span:nth-of-type(1){
        @include sizes(150px,150px,0,0,"");
        padding-left: 20px;
    }
    &>div:nth-of-type(1){
        @include sizes(850px,150px,0,0,"");
        @include flex(0,"",row,center,"","");
        @include font("open",400,13,#333);
        padding-left: 20px;
        &>label{
            @include sizes(280px,80px,0,0,1px solid #ccc);
            @include position("re");
            @include bg(1,#3a3737,"");
            overflow: hidden;
            &>img{ 
                @include sizes(100%,80px,0,0,"");
                @include position("ab"); 
                object-fit: cover; top: 5px;
            }
        }
        &>ol{
            @include sizes(100%,auto,0,0,"");
            padding-left: 20px;
            &>li{
                @include sizes(250px,40px,0,0,"");
            }
            &>li:nth-of-type(1){ line-height: 17px; }
            &>li:nth-of-type(2) > input{ 
                @include sizes(130px,30px,0,0,1px solid #ccc);
                @include font("open",400,13,#333);
                text-indent: 5px; 
            }
            &>li:nth-of-type(3) > input{ 
                @include sizes(130px,30px,0,0,1px solid #ccc); cursor: pointer;
                @include font("open",400,13,#333);
            }
        }
    }
}
/* input css */
input:focus{ outline: none }
.write_content > li > label > input,select,button{
    @include font("open",400,13,#333);
}
.write_content > li > div{
    @include font("open",400,13,#333);
    padding-left: 20px;
}
.write_content > li:nth-of-type(1) > label > input{
    @include sizes(800px,30px,0,0,1px solid #ccc); 
    text-indent: 5px;
}
.write_content > li:nth-of-type(2) > label > input{
    @include sizes(250px,30px,0,0,1px solid #ccc); 
    text-indent: 5px; 
}
.write_content > li:nth-of-type(2) > label > label > input{
    @include sizes(80px,30px,0,0,0);
    @include bg(1,#777,"");
    color: #fff; cursor: pointer; margin-left: 5px;
}
.write_content > li:nth-of-type(3) > label > select{
    @include sizes(130px,30px,0,0,1px solid #ccc); cursor: pointer;
}
.write_content > li:nth-of-type(4) > label > input{
    @include sizes(130px,30px,0,0,1px solid #ccc); 
    text-indent: 5px;
}
.write_content > li:nth-of-type(5) > label > input{
    @include sizes(250px,30px,0,0,1px solid #ccc); 
    text-indent: 5px;
}
.qa_text{
    @include sizes(850px,350px,0,0,"");
    overflow: auto; line-height: 25px;
}
/* 첨부파일 */
.write_content > li:nth-of-type(6) > label > input{
    @include sizes(280px,30px,0,0,1px solid #ccc); 
    text-indent: 5px;
}
.write_content>li:nth-of-type(6)> label > label{
    @include sizes(80px,30px,0,0,0);
    @include bg(1,#777,"");
    @include font("open",400,13,#333);
    margin-left: 5px; color: #fff;
    text-align: center; line-height: 30px; cursor: pointer;
}
.write_content>li:nth-of-type(6)>label > button{
    @include sizes(50px,30px,0,0,1px solid #ccc);
    @include bg(1,rgb(250, 250, 250),"");
    text-indent: 5px; margin-left: 5px; cursor: pointer;
}
em{
    font-style: normal;
    @include position("re");
}
.embtn::before{
    content: "+";
    @include position("ab");
    left: -13px;
}
.embtn2::before{
    content: "-";
    @include position("ab");
    left: -12px;
}

/* 버튼css */
.write_btn{
    @include sizes(100%,100px,0,0,0);
    @include flex(0,center,row,center,"",""); margin-top: 20px;
}
.write_btn>span{
    @include sizes(330px,45px,0,0,0);
    @include flex(0,space-around,row,center,"","");
    &>input{
        @include sizes(150px,40px,0,0,0);
        @include font("open",400,12,#444);
        letter-spacing: 0.5px; cursor: pointer;
    }
    &>input:nth-of-type(1){
        @include bg(1,#fff,"");
        border: 2px solid #444;
    }
    &>input:nth-of-type(2){
        @include bg(1,rgb(87, 85, 85),"");
        color: white;
    }
    &>input:nth-of-type(2):hover{
        @include bg(1,rgb(73, 72, 72),"");
    }
}
/* 블랙스크린 및 상품 레이어 팝업 */
.shadow{
    @include sizes(100%,100%,0,0,"");
    @include position("fi");
    @include bg(1,black,"");
    left: 0; top: 0; z-index: 40; opacity: 0.7;
    display: none;
}
.p_list{
    @include sizes(600px,400px,auto,0,1px solid black);
    @include position("fi");
    @include bg(1,#fff,"");
    z-index: 41; display: none;
    top: 20%; left: 30%;
}
.p_password{
    @include sizes(320px,160px,auto,0,1px solid black);
    @include position("fi");
    @include bg(1,#fff,"");
    @include font("open",600,15,rgb(116, 115, 115));
    z-index: 41; display: none;
    top: 30%; left: 40%; border-radius: 5px;
    &>div{
        @include sizes(100%,auto,0,0,"");
        @include flex(1,center,row,"",wrap,"");
        &>span{
            padding: 15px 10px 20px 10px;
            &>em{ color: cornflowerblue; }
            &>input{
                @include sizes(160px,35px,0,0,1px solid black);
                text-indent: 10px; border-radius: 5px;
            }
            &>button{
                @include sizes(80px,35px,0,0,0);
                @include bg(1,rgb(87, 85, 85),""); color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
            
            &>button:hover{
                @include bg(1,rgb(73, 72, 72),"");
            }
        }
    }
}
.p_close{
    @include sizes(30px,30px,0,0,1px solid black);
    @include position("re");
    @include font("open",600,20,#fff);
    @include bg(1,#111,"");
    text-align: center; line-height: 30px; cursor: pointer;
    left: 100%;
}