@charset "UTF-8";
/* 폰트 */
/* 영어&한글 font-family: 'Noto Sans KR', sans-serif; (font-weight 300,500) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
/* 한글 font-family: 'Nanum Pen Script', cursive; (400) */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* 영어 font-family: 'Big Shoulders Stencil Display', cursive; (100,300,400,500,600,700,800,900) */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600;700;800;900&display=swap');

/* 기본셋팅 사항 */
html,body,div,span,label,section,aside,footer,header,nav,video,table,tr,td,th{
    margin: 0;
    padding: 0; 
    border: 0;
    font-size: 100%;
    font: inherit;  
    /* 부모요소에서 상속 받아 사이즈, 글씨체, 색상 모든 사항을 같이 적용함 */
}
section,aside,footer,header,nav,main,span,label{
    display: block;
}
body{
    line-height: 1; 
    /* 폰트 사용시 여러 단락 사용할 때 서로 높이가 맞지 않는 경우가 있음 
    해당 부분으로 정확하게 수치를 맞춰서 높이를 잡을 수 있음
    */
    -webkit-text-size-adjust: none; /* 크롬, 사파리 기준 */
    -moz-text-size-adjust: none;    /* 모질라, 파이어폭스 기준 */
    -ms-text-size-adjust: none;     /* 익스플로어 기준 */
    text-size-adjust: none;         /* Edge 기준 */
}
ol,ul{ list-style: none; margin: 0; padding: 0; }
* { box-sizing: border-box; } /* *:모든 태그에 적용 */
img { width: 100%; }
input { border-radius: 0px 0px; }

/* 이벤트 css */
.backgb{ height: 750px; background-color: black; padding-top: 30px;}
.event{
    width: 100%; height: 700px; border: 1px solid black;
    background-color: black; position: relative;
    overflow: hidden;
}
#videos{
    position: absolute; width: 100%; object-fit: cover;
}
.logobox { 
    position: absolute; z-index: 10;
    left: 50%; margin-left: -224px; top: 150px;
}
.couponbox{
    width: 650px; height: 400px; position: absolute;
    left: 50%; margin-left: -325px; top: 200px;
    background: url("../mv/coupon_bg.png") 50% 0 no-repeat;
    background-size: 100% 400px; z-index: 9;
}
.textbox { 
    width: 500px; height: 300px; position: relative;
    margin: 0 auto; top: 80px
}
.ulcss{
    width: 100%; height: auto;
}
.ulcss > li{
    width: 450px; height: 50px; margin: 0 auto; display: flex;
    flex-wrap: wrap; justify-content: center; align-items: center; align-content: center;
}
p {letter-spacing: 0.5px; word-spacing: -1px; font-size: 15px; font-weight: bold; text-align: center; font-family: 'Noto Sans KR', sans-serif;}
input { border-radius: 5px; font-family: 'Noto Sans KR', sans-serif; text-align: center;}
.input { width: 400px; height: 40px;}
.input2 { width: 130px; height: 40px; }
.inp {margin-left: 5px;}
.btn { width: 400px; height: 40px; line-height: 40px; border: 0; background-color: black; color: white; cursor: pointer;}