@charset "UTF-8";
@mixin base {
    margin: 0; padding: 0; line-height: 1; box-sizing: border-box;
}
*,body{ @include base }

@mixin radiosmix {
    content: "";
    width: 20px; height: 20px; border:2px solid pink;
    border-radius: 20px; background-color: white;
    position: absolute;
    top: -5px; left: -5px;
}

@mixin radiosmix2 {
    content: "";
    width: 10px; height: 10px; background-color: white;
    border-radius: 5px; position: absolute;
    top: 2px; left: 2px;
}