body { margin:0; padding:0;}
.box { width:100px; height:100px; background-color:green;
box-shadow:50px 10px 20px gray;
}
/* box-shadow 오브젝트 그림자 
box-shadow:X축, Y축, 퍼짐정도, 색상 
*/
.box2 { width:100px; height:100px; background-color:yellow;
border-radius:50px; margin:0 auto;
box-shadow:0 0 30px black; cursor: pointer;
}
.box2:hover { box-shadow:none;}
/* 대메뉴, 소메뉴*/
.menu { height:80px; background-color:green;}
.divmenu { width:1000px; height:80px; background-color:greenyellow;
margin:0 auto;
}
.menuol {width:100%; height:80px; list-style: none;
margin:0; padding:0; cursor: pointer;
}
.menuol li { width:125px; height:80px; float: left; text-align: center;
line-height: 80px; font-size:18px;
}
.menuol li:hover .menuul { 
    display: block;
}
.menuul { width:125px; height:auto; list-style: none;
margin:0; padding:0; display: none; 
}
.menuul li { background-color: goldenrod; width:125px; height:40px;
line-height:40px; font-size:15px;
}
.menuol6 { width: 125px; height: 80px; float: left; text-align: center;
line-height: 80px; font-size: 18px; }
.menuul6 { width:125px; height:40px; list-style: none;
margin:0; padding:0; display: none;  
}
.menuul6 li { width: 125px; height:40px; background-color:goldenrod;
line-height:40px; font-size:15px;
}
.menuol li:hover .menuul6 { display: block;}